	/*	.para1{
			color: white;
			background-color: black;
			font-size: 20px;
			padding: 10px;
			margin: 20px;
		}
*/
#paragraphOne{
			color: white;
			background-color: black;
			font-size: 20px;
			padding: 10px;
			margin: 20px;
}
